# <span style="color:blue"> MBA em Ciência de Dados</span>
# <span style="color:blue">Programação para Ciência de Dados</span>

## <span style="color:blue">Pandas Parte III - Avaliação </span>
**Material Produzido por Luis Gustavo Nonato**<br>
**Cemeai - ICMC/USP São Carlos**

Os exercícios a seguir farão uso do arquivo <font style="font-family: monaco">sales1000.csv</font> disponível para download no moodle.

O arquivo <font style="font-family: monaco">sales1000.csv</font> possui informações relativas à venda de produtos. As colunas abaixo são de particular importância para solução dos exercícios:
- *Country*: país da venda
- *Item Type*: tipo do produto vendido no país
- *Units Sold*: quantidade vendida
- *Unit Price*: preço de venda
- *Unit Cost*: preço de custo
- *Total Profit*: lucro total

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('sales1000.csv')
df.head()

C:\Users\feh_s\AppData\Local\Temp\ipykernel_8412\2626328730.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Middle East and North Africa,Libya,Cosmetics,Offline,M,10/18/2014,686800706,10/31/2014,8446,437.20,263.33,3692591.20,2224085.18,1468506.02
1,North America,Canada,Vegetables,Online,M,11/7/2011,185941302,12/8/2011,3018,154.06,90.93,464953.08,274426.74,190526.34
2,Middle East and North Africa,Libya,Baby Food,Offline,C,10/31/2016,246222341,12/9/2016,1517,255.28,159.42,387259.76,241840.14,145419.62
3,Asia,Japan,Cereal,Offline,C,4/10/2010,161442649,5/12/2010,3322,205.70,117.11,683335.40,389039.42,294295.98
4,Sub-Saharan Africa,Chad,Fruits,Offline,H,8/16/2011,645713555,8/31/2011,9845,9.33,6.92,91853.85,68127.40,23726.45

### Exercício 1)
Agrupe os elementos da base de dados armazenada no arquivo <font style="font-family: monaco">sales1000.csv</font> de acordo com os países.
Quantos produtos diferentes o país "Portugal" vende?

a) 7<br>
b) 6<br>
c) 5<br>
**d) 4**

**Dica:** Utilize os métodos <font color='blue'>groupby</font> e <font color='blue'>get_group</font> do <font color='blue'>pandas</font>.

In [4]:
# Solucao
df.groupby('Country')['Item Type'].unique().filter('Country == Portugal')

TypeError: Index(...) must be called with a collection of some kind, 'Country == Portugal' was passed

In [5]:
df[df['Country'] == "Portugal"]['Item Type'].unique()

array(['Office Supplies', 'Vegetables', 'Cosmetics', 'Cereal'],
      dtype=object)

### Exercício 2)
Considerando todas as vendas realizadas por cada país, qual o país com o menor lucro total?

**a) Cameroon<br>**
b) Japan<br>
c) Australia<br>
d) Cuba

In [9]:
# Solucao
df.groupby('Country')['Total Profit'].sum().sort_values(ascending=True)

Country
Cameroon                            34407.36
Denmark                             86083.02
Federated States of Micronesia     147867.28
Kazakhstan                         254529.12
Latvia                             258775.02
                                     ...
Malaysia                          4715338.84
Ghana                             4736567.14
Central African Republic          5338519.48
Papua New Guinea                  6085514.28
Cuba                              7351820.83
Name: Total Profit, Length: 185, dtype: float64

### Exercício 3)
Quantos países vendem exatamente 7 (sete) produtos distintos? 

**a) 9<br>**
b) 8<br>
c) 7<br>
d) 6

**Dica:** Utilize os métodos <font color='blue'>groupby</font> e <font color='blue'>nunique</font> do <font color='blue'>pandas</font>.

In [32]:
# Solucao
arr = df.groupby('Country')['Item Type'].unique().reset_index()
mascara = arr['Item Type'].map(lambda x: len(x) )

arr[mascara ==7]

            Country                                          Item Type
4            Angola  [Cereal, Cosmetics, Beverages, Meat, Personal ...
14          Belgium  [Fruits, Baby Food, Beverages, Meat, Office Su...
37   Czech Republic  [Snacks, Baby Food, Cereal, Office Supplies, H...
51             Fiji  [Vegetables, Personal Care, Clothes, Snacks, C...
70             Iran  [Baby Food, Vegetables, Household, Meat, Offic...
131         Romania  [Office Supplies, Snacks, Clothes, Cereal, Fru...
152     South Sudan  [Meat, Office Supplies, Baby Food, Fruits, Bev...
170          Turkey  [Meat, Clothes, Cosmetics, Snacks, Baby Food, ...
179         Vanuatu  [Vegetables, Meat, Office Supplies, Cosmetics,...

### Exercício 4)
Qual o país com a maior diferença entre a maior quantidade e a menor quantidade de produtos vendidos? Por exemplo, 'Tonga' vende os seguintes quantidades de produtos:
```python
Household  8635
Beverages  9367
Meat       9633
Fruits     7124
Meat       3499
```
Portando, a diferença entre a maior e a menor quantidade de produtos vendidos é $$9633-3499=6134$$ Qual o país com a maior diferença?

a) Tonga<br>
**b) Cape Verde<br>**
c) Romania<br>
d) Cuba

In [49]:
df[df['Country'] == 'Tonga']['Units Sold'].max()
# .groupby('Coutry').apply(lambda x: x['Total Profit'].max() - x['Total Profit'].min())

9633

In [51]:
# Solucao
df.groupby('Country').apply(lambda x: x['Units Sold'].max() - x['Units Sold'].min()).sort_values(ascending=False)

C:\Users\feh_s\AppData\Local\Temp\ipykernel_8412\3841661542.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df.groupby('Country').apply(lambda x: x['Units Sold'].max() - x['Units Sold'].min()).sort_values(ascending=False)

Country
Cape Verde    9775
Finland       9712
Belgium       9682
Chad          9651
Japan         9640
              ...
Kuwait         714
Nauru          459
Malta            0
Cameroon         0
Kosovo           0
Length: 185, dtype: int64

### Exercício 5)
O lucro de um produto é a diferença entre o preço de venda e o de custo. Qual o produto que fornece o menor lucro médio?

a) Baby Food<br>
**b) Fruits<br>**
c) Household<br>
d) Cosmetics

**Dica:** Crie uma nova coluna no DataFrame contendo a diferença entre o preço de venda (coluna `Unit Price`) e o de custo (coluna `Unit Cost`) e agrupe os dados por `Item Type` aplicando redução por média na nova coluna criada.

In [52]:
df.head(1)

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Middle East and North Africa,Libya,Cosmetics,Offline,M,10/18/2014,686800706,10/31/2014,8446,437.2,263.33,3692591.2,2224085.18,1468506.02

In [54]:
# Solucao
df['Lucro'] = df['Unit Price'] - df['Unit Cost']
df.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit,Lucro
0,Middle East and North Africa,Libya,Cosmetics,Offline,M,10/18/2014,686800706,10/31/2014,8446,437.20,263.33,3692591.20,2224085.18,1468506.02,173.87
1,North America,Canada,Vegetables,Online,M,11/7/2011,185941302,12/8/2011,3018,154.06,90.93,464953.08,274426.74,190526.34,63.13
2,Middle East and North Africa,Libya,Baby Food,Offline,C,10/31/2016,246222341,12/9/2016,1517,255.28,159.42,387259.76,241840.14,145419.62,95.86
3,Asia,Japan,Cereal,Offline,C,4/10/2010,161442649,5/12/2010,3322,205.70,117.11,683335.40,389039.42,294295.98,88.59
4,Sub-Saharan Africa,Chad,Fruits,Offline,H,8/16/2011,645713555,8/31/2011,9845,9.33,6.92,91853.85,68127.40,23726.45,2.41

In [56]:
df.groupby('Item Type')['Lucro'].mean().sort_values()

Item Type
Fruits               2.41
Beverages           15.66
Personal Care       25.06
Snacks              55.14
Meat                57.20
Vegetables          63.13
Clothes             73.44
Cereal              88.59
Baby Food           95.86
Office Supplies    126.25
Household          165.73
Cosmetics          173.87
Name: Lucro, dtype: float64